#tablaListado {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablaListado td, #tablaListado th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tablaListado tr:nth-child(even){background-color: #f2f2f2;}
  
  #tablaListado tr:hover {background-color: #ddd;}
  
  #tablaListado th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(82, 3, 82);
    color: white;
  }